h1 {
    color:red;
    background-color:rgb(90, 73, 189);
}

img {
    height: 100px;
    width: 100px;
}

#main {
    color:green;
}

p {
    color:peru;
}

.note {
    font-size: 20px;
}
#red {
    color:red;
    background-color:darkgrey
}
#blue {
    color:blue;
    background-color:cadetblue
}
#green {
    color:green;
    background-color: darkgrey;
}
#yellow {
    color:rgb(104, 139, 8);
    background-color: burlywood;
}
#violet {
    color:violet;
    background-color:thistle
}
#orange {
    color:orangered;
    background-color:burlywood
}
#coral { 
    color:coral;
}
#khaki {
    color:darkslategray;
}
html {
    background-color:peachpuff;
}
